<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speech Emotion Classifier | Record </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Recorder.js script -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{ {url_for('static', filename='js/app.js')}}"></script>
</head>
<body>
  </head>
  <body>
    <h1>Speech Emotion Classifier</h1>
    <div id="controls">
     
      <div id="formats">
  
      </div>
      <button type="button" id="recordButton">Record</button>
      <button type="button" id="pauseButton" disabled>Pause</button>
      <button type="button" id="stopButton" disabled>Stop</button>
      <form action="/predict_emotion" method="post" enctype="multipart/form-data">
        <label for="audioFile">Choose an audio file:</label>
        <input type="file" id="audioFile" name="file" accept=".wav, .mp3">

      
      <button type="submit">Predict Emotion</button>
        
    </form>
    
    
    </div>
    
    
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList" class="center"></ol>
   
    
  </body>
</html>